* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {background-color: #9D92FF;}


.imagem {width: 180px;
        display: block;
        position: relative;
    left: 50%;
    transform: translate(-50%,0%);}


p{  
    font-size: 50px;
    width: 70px;
    
}
#milis {margin-right: -45px;
    padding: 0;}

#display {display: flex;
    padding: 20px;
    justify-content: center;
    border-radius: 15px;
    background-color: white;
    width: 400px;
    margin: 0 auto;
}

    

#botoes {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    padding: 20px;
    }

button {padding: 20px 52px;
border: none;
cursor: pointer;
color: white;
font-size: 20px;}

.iniciar {background-color: #333C83;}
.parar {background-color: #8a382e;}


#bottom {
position: absolute;
bottom: 0;
justify-content: space-between;}

.titulo {
margin: 10px;
color: white;
font-size: 18px;}
